

<div class="card col-6 offset-3 mb-4" style="width: 50%; background-color: #8A9A5B;">
  <div class="card-body">
    <h3 class="text-white">Employees of <%= @company.name %></h3>
  </div>
</div>
<%= link_to 'Add New Employee', new_company_employee_path(@company), class: 'btn text-white mb-4 ml-4', style: 'background-color: #8A9A5B;' %>
<% if @employees.length == 0 %>
    <p class="text-center">No Employees Found</p>
<% end %>
<ul class=”list-group col-6 offset-3” style="width: 50%;">
    <% @employees.each do |employee| %>
        <li class="list-group-item"><%= employee.name %> <%= link_to 'View ->', company_employee_path(@company, employee), style: 'color: #8A9A5B;' %> </li>
    <% end %>
</ul>
<%= link_to "Back to Companies ->", companies_path, class:'btn ml-4 mt-4 text-white', style:'background-color: #8A9A5B;'%>


