<div class="jumbotron text-center">
    <h1 class="display-4"><%= @employee.name %></h1>
    <p class="lead">Company: <%= @employee.company.name %> </p>
     <p class="lead">Age: <%= @employee.age %> </p>
    <p class="lead">Reimbursement amount : <%= @total_reimbursement_amount %> </p>
    <p class="lead">Reimbursement Claims: <%= link_to "View", company_employee_reimbursement_claims_path(@company, @employee), class:'btn text-white', style:'background-color: #8A9A5B;'%></p>
    <hr class="my-4">
    <%= link_to "Edit Employee", edit_company_employee_path(@company), class:'btn mt-4 text-white', style:'background-color: #8A9A5B;'%>
    <%= link_to "Back to Employees", company_employees_path(@company), class:'btn mt-4 text-white', style:'background-color: #8A9A5B;'%>
</div>
